/*******************************
Global
*******************************/

html {
  font-size: 14px;
}

/*#home {
  background-image: url(images/1.jpg)
}*/

/*******************************
Global
*******************************/

#home .menu .right.menu > .mobile.item {
  display: none;
}

/*--------------
Masthead
---------------*/

#home .masthead {
  background-image: url(images/1.jpg);
  margin: 0em;
  padding: 5rem 0rem;
}

#home .mid {
  background-image: url(images/1.jpg);
  margin: 0em;
  padding: 5rem 0rem;
}

#home .masthead .column {
  position: relative;
}
#home .masthead .bottom-padding {
  margin-bottom: 3rem;
}

#home .ocourses {
  /*margin-top: 4rem;*/
  padding: 3rem 0rem;
}

#home .edit {
  overflow: hidden;
}

#editor {
  margin: 0%;
  /*position: absolute;*/
  height: 500px;
  width: 90%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  font-size: 15pt;

}

#editbutton {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*
#home .masthead .information p {
  max-width: 600px;
}
#home .masthead .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}*/

/*--------------
Ribbons
---------------*/

#home .segment h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

#home .vertical.segment {
  padding: 12rem 0rem;
}

#home .feature.segment {
  margin: 0em;
  padding: 6rem 0rem;
}
#home .feature.segment p {
  min-height: 50px;
}

/*#home .selection.list {
  margin: 0em -0.5em;
}

#home .logo.row {
  height: 10rem;
}*/

/*--------------
Footer
---------------*/

/*#home .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}*/


/*******************************
Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item {
    display: none;
  }

  #home .menu .right.menu > .mobile.item {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  #home h1 {
    font-size: 1.5em;
    /*text-align: left;*/
  }

  /*#home .masthead.segment .information {
    margin-left: 170px;
  }*/

  #home .masthead.segment .image {
    display: none;
  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  /*#home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }*/

  #home .masthead.segment .column {
    font-size: 0.7rem;
  }

  #home .masthead.segment .column p {
    display: none;
  }

  /*#home .selection.list .right.floated {
    display: none;
  }*/
}
